:host {
    display: flex;
    flex-direction: column;
    padding: 24px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.stands-out {
    border: 1px solid #e6e5e5;
    padding: 10px;
}