<div class="wrapper">
    <mat-form-field>
        <mat-label>Select Language</mat-label>
        <mat-select [(value)]="selectedLang">
            <mat-option *ngFor="let lang of languages" [value]="lang.value">
                {{lang.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button 
        color="accent" 
        (click)="startButton($event)">
        Record!
    </button>
</div>

<div class="wrapper">
    <label>Results:</label>
    <mat-list>
        <mat-list-item *ngFor="let item of final_transcript; let i = index;" class="listItem"> 
                <h3 matLine> {{item}} </h3>
                <button mat-button color="primary" (click)="removeListitem({item: item, index:i})">X</button>
                <button mat-button color="primary" (click)="editListitem({item: item, index:i})">edit</button>
                <button mat-button color="primary" (click)="sendListitem({item: item, index:i})">send</button>
        </mat-list-item>
    </mat-list>
</div>
  
