<p>prod-list works!</p>
<div class="wrapper">
    <mat-form-field>
        <mat-label>Select Language</mat-label>
        <mat-select [(value)]="selectedLang">
            <mat-option *ngFor="let lang of languages" [value]="lang.value">
                {{lang.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button 
        color="accent" 
        (click)="startButton($event)">
        Record!
    </button>
</div>

<div class="wrapper">
    <label>Result</label>
    <p class="stands-out" *ngIf="final_transcript">
        {{final_transcript}}
    </p>
</div>
  
